/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/
body {
	background-color: #E0E0E0;
}

#header {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#3993BA), to(#067EAD));
    background-image: -webkit-linear-gradient(top, #3993BA 0%, #067EAD 100%);
    background-image: -moz-linear-gradient(top, #3993BA 0%, #067EAD 100%);
	background-image: -ms-linear-gradient(top, #3993BA 0%, #067EAD 100%);
	background-image: -o-linear-gradient(top, #3993BA 0%, #067EAD 100%);
	background-image: linear-gradient(top, #3993BA 0%, #067EAD 100%);
    border-bottom: 1px solid #555555;
}




#sidebar > ul {
	border-bottom: 1px solid #ccc;
}
#sidebar > ul > li {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

#sidebar > ul > li > a{
	text-shadow: 1px 1px 0 #efefef;
	background: #e0e0e0;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ececec;
	box-shadow: inset 0px 1px 0px 0px #ececec;
    color: #222222;
}


#sidebar > ul > li > a > .label {
	background-color: #333333;
}
#sidebar > ul > li > a:hover {
	background-color: #cfcfcf;
}
#sidebar > ul ul {
	background-color: #fff;
}

#sidebar > ul ul li a:hover, #sidebar > ul ul li.active a {
	color: #006DCC;
}
#user-nav > ul > li > a > i, #sidebar li a i {
	vertical-align: top;
	background-image: url('../img/glyphicons-halflings.png');
	opacity: .5;
	margin-top: 2px;
}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
	background-color: #cfcfcf;
}
#content{
	 background: url("../img/bg_a.png") repeat scroll 0 0 #FFFFFF;
}

@media (max-width: 480px) {
	#sidebar > a {
		background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
		border-bottom: 1px solid #6e6e6e;
	}
	#sidebar > ul {
		background-color: #cfcfcf;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
		border-right: 7px solid rgba(0, 0, 0, 0.2);
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #fff;
    }
}
